.row-container{
    background-color: #000;
    color: #fff;
    width: 100vw;
    margin: 10px 0;
    padding: 10px 0;


}

.row-title{
    margin: 0px 0px 10px;
    padding: 0px 46.6667px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.row-title > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.row-title > a > span{
    font-size: 16px;
    font-weight: 300; 
}

.row-title > a:hover{
    color: #00a3da;
}

.row-posters{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0px 0px 10px;
    padding: 0px 46.6667px;
}

.row-posters::-webkit-scrollbar{
    display: none;
}

.row-poster{
    position: relative;
    border: 1px solid transparent;
    width: 100%;
    object-fit: cover;
    max-height: 142px;
    margin-right: 10px;
    transition: transform 450ms;
    
}

.row-poster:hover{
    border: 1px solid #00a3da;

}




/* MEDIA QUERIES */
@media (min-width:500px){
    .row-title > a > span{
        font-size: 20px;
    }
}

@media (min-width:800px){
    .row-title > a > span{
        font-size: 28px;
    }
}

/* ROW NAVBAR */
.rownavbar-container{
    height: 30px;
    padding-left: 20px;
}

.rownavbar-container > a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 2em;
    padding: 5px 20px;
    margin-bottom: 0px;

}