.nowtrending-container {
    background-color: rgb(75, 75, 75);
    background-size: auto;
    color: #fff;
    margin: 0 0 10px;
    min-height: 15rem;
    max-height: 1000px;
    padding: 5% 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow: hidden;
}

.tv-show{
    border: 1px solid white;
    margin: 0 10px 10px;
    background-image: url("../../assets/euphoriacover.png");
    background-repeat: no-repeat;
    height: 200px;
    
}