/* MOBILE COMPONENT*/
.header-mobile {
    background-color: #000000;
    min-height: 84px;
    color: white;
    display: flex;
    flex-direction: column;
}

.header-logo {
    height: 56px;
    width: 99%;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header-logo>button {
    background: none;
    border: none;
    color: white;
}

.header-logo>button:hover {
    cursor: pointer;
}

.hbo-logo {
    margin-top: 8px;
    height: 29.6px;
}

/* STICKY FEATURE */
.sticky-wrapper {
    position: relative;
    height: 35px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.relative {
    position: relative;
}

/* DESKTOP */
.header-container{
    background-color: rgb(0, 0, 0);
    height: 84px;
    width: 100%;
    z-index: 999;
}

.header-desktop{
    background-color: rgba(0, 0, 0, 0.708);
    height: 84px;
    color: white;
    min-width: 800px;
    width: 100vw;
    padding: 0 46.6667px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 78; 
    z-index: 999;
}

.header-icon:hover{
    color :#00a3da; 
}

/* MEDIA QUERIES COMMON CLASSNAMES */
@media (min-width:800px) {
    .header-logo{
        padding: 0px 0px;
        height: 84px;
        justify-content: flex-end;
        align-items: center;  
    }
    .hbo-logo {
        margin-top: 3px;
        height: 40px;
    } 
}

@media (min-width:955px) {
    .header-container{
        top:65px;
    }

}