.reactivate-container{
    min-height: 101px;
    background-color: #ff3c3c;
    color: #fff;
    font-size: 13px;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.main-text{
    display: flex;
    flex-direction: row;
}

.alert{
    padding: 3px 10px 0px 0px;
    height: 25px; 
}

.alert-text {
    padding: 0px 10px 0px 0px;
    letter-spacing: 1px;
    line-height: 1.2em;
}

.link-container{
    padding-top: 1.7em;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reactivate-link{
    margin: auto;
    color: #fff;
    padding: 6px 24px;
    border: 1px solid #fff;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
}

@media (min-width: 500px) {
    .reactivate-container{
        font-size: 16px;
        padding: 16px 20px 10px;
        min-height: 101px;
        max-height: 131px;
    }
    .alert-text{
        line-height: 1.5em;
    }

    .link-container{
        padding-top: 1.4em;
        padding-bottom: 0.15em;
    }
}

@media (min-width: 800px) {
    .reactivate-container{
        padding: 15px 40px;
        min-height: 65px;
        max-height: 78px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        overflow: hidden;
        z-index: 999;
    }

    .alert-text{
        line-height: 1.5em;
    }
    .link-container{
        padding-top: 0;
    }
    .reactivate-link{
        padding: 4px 22px;
    }  
}